@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

*+*{
    margin-top: .75em;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a:hover {
  color: rgb(0, 136, 204);
}

.intro {
  color: #666;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 1.75;
  font-weight: 200;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: 200;
    text-rendering: optimizelegibility;
    margin: 0% 3% 0% 3%;
}

.left {
    text-align: left;
    margin-left: 3%;
}

h1{
  font-family: "Open Sans";
  font-size: 70px;
  line-height: 1;
  font-weight: 200;
  letter-spacing: -0.015em;
  text-align: center;
}

.link_list {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.3542;
  font-weight: 200;
  color: #bdb099;
  text-align: center;
  list-style-type: none;
}

.link_list li {
  display: inline-block;
  margin-right: 40px;
}

.link_list li:hover {
  color:#777777;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    font-weight: 200;
    line-height: 55px;
    color: rgb(51, 51, 51);
    text-align: center;
}

.glyph{
  font-family: "Font Awesome";
}


.small_CTA {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 200;
    text-rendering: optimizelegibility;
    color: rgb(0, 136, 204);
    margin-top: 15px;
}

